 /*Import font*/
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"); /*Minireset*/

/* SOMMAIRE
 */


/*Elements principaux*/
  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

    a:active {
      color: #000000
    }

    a:visited {
      color: #000000;
    }

  #main-wrapper {
    width: 100%;
    margin: auto;
  }




h1 {
   color: red;
}