// COLORS //
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #FFFFFF;
$color-black: #000000;

// TYPO //
$color-txt-default: #000000;
$color-txt-1: #FFFFFF;
$font-title: Shrikhand;
$font-text: Roboto;

// INDEX //
$color-intro-loc: #EAEAEA;
$color-bckgd-menu: #F6F6F6;

// FOOTER //
$footer-bckground-clr: #353535;

// ANIMATIONS //
$num-dish: 4;
$gradual-dish-dur: 1000ms;
$gradual-dish-delay: calc($gradual-dish-dur / $num-dish);
$loader-dot-delay: 100ms;
$num-dot: 4;

$breakpoints: (
    x-small: 320px,
    small: 599px,
    medium: 768px,
    large: 990px,
    x-large: 1200px,
)
