// INDEX //
// Loader //
$loader-dot-delay: 100ms;
$num-dot: 4;

@keyframes loader-bg {
    0%, 99% {
        opacity: 0.5;
        z-index: 9998;
    }
    100% {
        z-index: -9999;
    }
}

@keyframes loader-dots {
    0%, 50%, 75%, 100% {
        opacity: 1;
    }
    0% {
        transform: translateY(0px);
        background: $color-primary;
    }
    50% {
        transform: translateY(10px);
        background: lighten($color-primary, 10%);
    }
    75% {
        transform: translateY(10px);
        background: lighten($color-secondary, 10%);
    }
    100% {
        transform: translateY(0px);
        background: darken($color-tertiary, 10%);
    }
}

.loader__bg {
    animation: loader-bg 4000ms linear forwards;
}

.loader__dot {
    animation: loader-dots 1000ms 4 backwards;
    @for $it-dot from 1 through $num-dot {
        &--#{$it-dot} {
            animation-delay: $loader-dot-delay * $it-dot;
        }
    }
}



// MENU //
// Gradual display //
@keyframes gradual-dish-display {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.dish {
    opacity: 0;
    /*transform: translateY(20px);*/
    animation: gradual-dish-display $gradual-dish-dur both;
    @for $it-dish from 1 through $num-dish {
        &--#{$it-dish} {
            animation-delay: $gradual-dish-delay * $it-dish;
        }
    }
}


// Hover green bg + check icon //
.dish {
    &__price {
        transform: translateX(0%);
        transition: transform 500ms 50ms;
    }
    &__container-anim {
        transform: translateX(500%);
        transition: transform 500ms 50ms;
    }
    .fa-check-circle {
        transform: rotate(-360deg);
        transition: transform 750ms 300ms;
    }
}

.dish {
    &:hover {
        .dish__desc, .dish__title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 70%;
        }
        .dish__price {
            transform: translateX(-220%)
        }
        .dish__container-anim {
            transform: translateX(1%);
        }
        .fa-check-circle {
            transform: rotate(0deg);
        }
    }
}