// Button index & orders //
.btn-main {
    display: block;
    position: relative;
    background: $color-primary;
    background: linear-gradient(355deg, $color-primary 0%, $color-secondary 100%);
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    @include shadow-primary;
    border: none;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
            /*background: lighten-gradient($color-primary);
            background: linear-gradient(355deg, lighten-gradient($color-primary) 0%, lighten-gradient($color-secondary) 100%);
            @include shadow-hover; */  
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 30px;
        background: linear-gradient(355deg, lighten-gradient($color-primary) 0%, lighten-gradient($color-secondary) 100%);
        @include shadow-hover;
        opacity: 0;
        transition: 0.25s;
        z-index: -1;
    }
}

.intro__btn {
    width: 250px;
}

.meals-ordrer__btn {
    width: 200px;
    margin-top: 50px;
}

// Heart icon //
    // Base & Index - card //
    .fa-heart {
        font-size: 1.5rem;
    }

    .fa-heart {
        &--empty {
            color: $color-black;
            position: relative;
            z-index: 1;
        }
        &--fill {
            @include heart-filling;
            font-size: 1.55rem;
            bottom: 30.5px;
            right: 24.5px;
        }
    }

    .ico-heart--both {       
        &:hover {                  
            .fa-heart--fill {
                opacity: 1;
            }
        }          
    }

    // Menu //
    .meals {
        .fa-heart {
            &--empty {
                font-size: 1.6rem;
                font-weight: normal;
                color: $color-black;
            }
            &--fill {
                font-size: 1.66rem;
                bottom: unset;
                right: unset;
            }
        }
    }