.btn-main {
    display: block;
    background: $color-primary;
    background: linear-gradient(355deg, $color-primary 0%, $color-secondary 100%); 
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    @include shadow-primary;
    border: none;
    transition: 0.25s;
    &:hover {
        background: lighten-gradient($color-primary);
        background: linear-gradient(355deg, lighten-gradient($color-primary) 0%, lighten-gradient($color-secondary) 100%);
        @include shadow-hover;   
    }
}

.intro__btn {
    width: 250px;
}

.meals-ordrer__btn {
    width: 200px;
    margin-top: 50px;
}

.fa-heart {
    font-size: 1.5rem;
}