.menu-bckground-img {
    height: 300px;
    max-height: 300px;
}

.meals {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $color-bckgd-menu;
    margin-top: -60px;
    position: relative;
    padding: 30px 12px 80px 12px;
    &__title-ico {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 30px;
        margin-bottom: -15px;
        @include medium-device-above {
            justify-content: center;
        }
    }
    &__title {
        @include medium-device-above {
            margin: 0px 30px;
            padding: 0px;
        }
    }
    &__ico-heart {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fa-heart {
        font-size: 25px;
    }
}

.menu {
    &__title {
        margin-top: 45px;
        margin-bottom: 20px;
        margin-left: 2%;
    }
    &__title--border {
        display: inline-block;
        border-bottom: 3px solid $color-tertiary;
        padding-bottom: 5px;
    }
}

.container__dish {
    @include medium-device-above {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .dish {
        display: flex;
        flex-direction: column;
        padding: 10px 25px 10px 10px;
        margin-bottom: 20px;
        line-height: 26px;
        background-color: $color-basic1;
        border-radius: 16px;
        @include shadow-primary;
        @include medium-device-above {
            width: 40%;
            margin-left: 5%;
            margin-right: 5%;
        }
        &__container-desc {
            display: flex;
            justify-content: space-between;
        }
    }
}

