header {
    display: flex;
    justify-content: center;
    .header__logo {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 190px;
    }
    .fa-arrow-left {
        position: absolute;
    }
}